

.container{
    width: 360px;
    height: 520px;
    margin-top: 30px;
    background-color: white;

}

h1{
    padding-top: 20px;
    text-align: center;
}

form{
    
    width: 300px;
    height: 340px;
}

label{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    display: flex;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

input{
    background-color: rgba(211, 211, 211, 0.205);
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 300px;
    padding: 2px;
    margin-left: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("banner.jpg");
}

.line{
    height: 2px;
    width: 320px;
    background-color: rgba(0, 0, 0, 0.116);
}

button{
    margin-top: 30px;
    width: 315px;
    height: 35px;
    background-color: darkslategrey;
    border: none;
}