.c1{
    border: 2px solid red;
    border-radius: 20px;
    height: 50px;
    padding: 20px;
    margin-bottom: 10px;
}
.c2{
    border: 2px solid red;
    height: 50px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}