.major{
    height: 600px;
    width: 600px;
    padding: 30px;
}

.main{
    height: 130px;
    width: 520px;
    display: flex;
    justify-content: space-between;
    
}

.component{
    height: 100px;
    width: 120px;
    border: 2px solid darkgrey;

}